{% extends 'base.html.twig' %}

{% block title %} Edit Occupied Room {% endblock %}

{% block body %}
    <h1> Edit Occupied Room </h1>

    {{ include('occupied_room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('occupied_room_index') }}">back to list</a>

{% endblock %}
