{% extends 'base.html.twig' %}

{% block title %}New OccupiedRoom{% endblock %}

{% block body %}
    <h1>Create new OccupiedRoom</h1>

    {{ include('occupied_room/_form.html.twig') }}

    <a href="{{ path('occupied_room_index') }}">back to list</a>
{% endblock %}
